$color-text-primary-black: #323232;
$color-text-primary-silver: #AFAFAF;
$color-text-primary-white: #FFFFFF;
$color-text-secondary-dark-black: #000000;
$color-text-secondary-mercury: #E1E1E1;
$color-text-secondary-alabaster: #FAFAFA;