
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("otf"),
    url("../assets/Font/alternative-files/AvenirNextLTPro.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("otf"),
    url("../assets/Font/alternative-files/AvenirNextLTProDemi.ttf")
      format("ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("otf"),
    url("../assets/Font/alternative-files/AvenirNextLTProBold.ttf")
      format("ttf");
  font-weight: 700;
  font-style: bold;
}