@use "./colors" as *;
@use "./breakpoints" as *;
@use "./font" as *;

@mixin mobile {
    @media (min-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $breakpoint-desktop) {
        @content;
    }
}

//media query doesn't allow extend, so mixin is applied for the font variable
@mixin font-desktop-page-header() {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
    text-align: center;
    color: $color-text-primary-black;
  }
  
  @mixin font-desktop-section-header() {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: $color-text-primary-black;
  }
  
  @mixin font-desktop-sub-header() {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: $color-text-primary-black;
  }
  
  @mixin font-desktop-body-copy() {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: $color-text-primary-black;
  }
  
  @mixin font-desktop-footer-copy() {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  
  @mixin font-desktop-labels-buttons() {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
  }
  
  @mixin font-mobile-page-header() {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    text-align: center;
    color: $color-text-primary-black;
  }
  
  @mixin font-mobile-section-header() {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: $color-text-primary-black;
  }
  
  @mixin font-mobile-sub-header {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: $color-text-primary-black;
  }
  
  @mixin font-mobile-body-copy() {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: $color-text-primary-black;
  }
  
  @mixin font-mobile-footer-copy() {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  }
  
  @mixin font-mobile-labels-buttons() {
    font-size: 10px;
    line-height: 20px;
    font-weight: 700;
  }
  