@use "./partials/colors" as *;
@use "./partials/mixins" as *;
@use "./partials/breakpoints" as *;

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("otf"),
    url("../assets/Font/alternative-files/AvenirNextLTPro.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("otf"),
    url("../assets/Font/alternative-files/AvenirNextLTProDemi.ttf")
      format("ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("otf"),
    url("../assets/Font/alternative-files/AvenirNextLTProBold.ttf")
      format("ttf");
  font-weight: 700;
  font-style: bold;
}

* {
  box-sizing: border-box;
  font-family: "Avenir Next";
  padding: 0;
  margin: 0;
}

//media query doesn't allow extend, so mixin is applied for the font variable
@mixin font-desktop-page-header() {
  font-size: 60px;
  line-height: 68px;
  font-weight: 700;
  text-align: center;
  color: $color-text-primary-black;
}

@mixin font-desktop-section-header() {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  color: $color-text-primary-black;
}

@mixin font-desktop-sub-header() {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: $color-text-primary-black;
}

@mixin font-desktop-body-copy() {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: $color-text-primary-black;
}

@mixin font-desktop-footer-copy() {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

@mixin font-desktop-labels-buttons() {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

@mixin font-mobile-page-header() {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  color: $color-text-primary-black;
}

@mixin font-mobile-section-header() {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: $color-text-primary-black;
}

@mixin font-mobile-sub-header {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: $color-text-primary-black;
}

@mixin font-mobile-body-copy() {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: $color-text-primary-black;
}

@mixin font-mobile-footer-copy() {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

@mixin font-mobile-labels-buttons() {
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
}

.main-nav {
  background-color: $color-text-primary-black;
  display: flex;
  @include mobile {
    @include font-mobile-body-copy();
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 0 0;
  }

  @include tablet {
    @include font-desktop-body-copy();
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2rem;
  }

  @include desktop {
    @include font-desktop-body-copy();
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 6rem;
  }

  img {
    max-height: 1.25rem;
    padding: 0 1rem;
  }
  &__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-basis: 1;
    @include mobile {
      width: 100%;
    }
    @include tablet {
      width: auto;
    }
  }

  &__item {
    &:hover {
      border-bottom: 3px solid #fff;
    }
    a {
      color: $color-text-secondary-mercury;
      &:hover {
        color: $color-text-primary-white;
        font-weight: bold;
      }
      text-decoration: none;
    }
    @include mobile {
      text-align: center;
      width: 50%;
      padding: 1rem 0;
      margin: 0;
    }

    @include tablet {
      text-align: start;
      width: auto;
      padding: 2rem 0;
      margin: 0 1rem;
    }
  }
}

.hero {
  background: url(../assets/Images/hero-bio.jpg) top;
  background-size: cover;
  @include mobile {
    height: 16rem;
  }

  @include tablet {
    height: 30rem;
  }

  @include desktop {
    height: 42rem;
  }

  position: relative;
  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-text-primary-black;
    opacity: 0.5;
    z-index: 1;
  }
  h1 {
    opacity: 100%;
    z-index: 2;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    @include mobile {
      @include font-mobile-page-header();
      padding: 0 1rem;
      color: #ffffff;
    }
    @include tablet {
      @include font-desktop-page-header();
      padding: 0 3rem;
      color: #ffffff;
    }
    @include desktop {
      @include font-desktop-page-header();
      padding: 0 7rem;
      color: #ffffff;
    }
  }
}

.bio {
  h2 {
    margin: 0;
    @include mobile {
      @include font-mobile-section-header();
      padding-bottom: 1rem;
      padding: 1.5rem 1rem 1rem 1rem;
    }
    @include tablet {
      @include font-desktop-section-header();
      padding-bottom: 2.25rem;
      padding: 3rem 2.25rem;
    }

    @include desktop {
      @include font-desktop-section-header();
      padding-bottom: 2.25rem;
      padding: 3rem 2.25rem 2.25rem 7rem;
    }
  }

  &__img {
    margin: auto;
    display: block;
    @include mobile {
      padding-bottom: 1rem;
      width: 90%;
    }
    @include tablet {
      padding-bottom: 2.25rem;
      width: 80%;
    }
    @include desktop {
      padding-bottom: 2.25rem;
      width: 70%;
    }
  }

  h3 {
    @include mobile {
      width: 90%;
      margin: 0 auto;
      @include font-mobile-sub-header();
      padding-bottom: 1rem;
    }
    @include tablet {
      width: 70%;
      margin: 0 auto;
      @include font-desktop-sub-header();
      padding-bottom: 1rem;
    }
  }

  h4 {
    @include mobile {
      @include font-mobile-sub-header();
      width: 90%;
      padding-bottom: 1.5rem;
      margin: 0 auto;
    }

    @include tablet {
      @include font-desktop-labels-buttons();
      width: 70%;
      padding-bottom: 3rem;
      margin: 0 auto;
    }
  }
}

.bio__desc {
  display: flex;
  margin: auto;
  @include mobile {
    width: 90%;
    padding-bottom: 1.5rem;
    justify-content: center;
    flex-direction: column;
    @include font-mobile-body-copy();
    &--paragraph1 {
      padding: 0 0 1.5rem 0;
    }
  }

  @include tablet {
    width: 70%;
    padding-bottom: 3rem;
    flex-direction: row;
    justify-content: center;
    @include font-desktop-body-copy();
    &--paragraph1 {
      padding: 0 3rem 0 0;
    }
  }
}

.gallery {
  background-color: $color-text-secondary-alabaster;
  h2 {
    margin: 0;
    @include mobile {
      @include font-mobile-section-header();
      padding: 1.5rem 1rem 1rem 1rem;
    }
    @include tablet {
      @include font-desktop-section-header();
      padding: 3rem 2.25rem;
    }
    @include desktop {
      @include font-desktop-section-header();
      padding: 3rem 2.25rem 2.25rem 7rem;
    }
  }
  &__container {
    display: flex;
    @include mobile {
      flex-direction: column;
      align-items: center;
      &--img {
        padding-bottom: 1.5rem;
        width: 90%;
      }
    }

    @include tablet {
      flex-direction: row;
      padding: 0 1.5rem 1rem 3rem;
      margin: auto;
      flex-wrap: wrap;
      &--img {
        padding: 0 1.5rem 1.5rem 0;
        width: 33.3%;
        box-sizing: border-box;
      }
    }

    @include desktop {
      flex-direction: row;
      padding: 0 5rem 1rem 7rem;
      margin: auto;
      flex-wrap: wrap;
      &--img {
        padding: 0 1.5rem 1.5rem 0;
        width: 33.3%;
        box-sizing: border-box;
      }
    }
  }
}
.footer {
  color: $color-text-secondary-mercury;
  background-color: $color-text-primary-black;
  position: relative;
  @include mobile {
    padding: 0 1rem;
  }
  @include tablet {
    padding: 0 0 0 3rem;
  }

  @include desktop {
    padding: 0 7rem;
  }
  &__title-container {
    display: flex;
    @include mobile {
      flex-direction: column;
      h2 {
        @include font-mobile-section-header();
        color: $color-text-primary-white;
        padding: 1.5rem 1rem 0 0;
        margin: 0;
      }
    }

    @include tablet {
      flex-direction: row;
      align-items: baseline;
      h2 {
        @include font-desktop-section-header();
        color: $color-text-primary-white;
        padding: 3rem 1.125rem 2.25rem 0;
      }
    }
    @include desktop {
      flex-direction: row;
      align-items: baseline;
      h2 {
        @include font-desktop-section-header();
        color: $color-text-primary-white;
        padding: 3rem 2.25rem 2.25rem 0;
      }
    }
  }

  &__social-icons-container {
    display: flex;
    @include mobile {
      .footer__social--icon {
        padding: 1rem 1.5rem 1rem 0;
      }
    }
    @include tablet {
      .footer__social--icon {
        padding: 0 2.25rem 0 0;
      }
    }
    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__logo {
    position: absolute;
    @include mobile {
      bottom: 5rem;
      left: 1rem;
    }

    @include tablet {
      top: 4rem;
      left: 38rem;
    }
    @include desktop {
      top: 4rem;
      left: 65rem;
    }
  }

  &__copy-right {
    @include mobile {
      @include font-mobile-footer-copy();
      padding: 2rem 0 1rem;
    }
    @include tablet {
      @include font-desktop-footer-copy();
      padding: 0 0 2.25rem 0;
    }
  }
}

.footer__agents-container {
  display: flex;
  @include mobile {
    flex-direction: column;
    padding-bottom: 2.25rem;
  }
  @include tablet {
    flex-direction: row;
    padding-bottom: 2.25rem;
  }
  @include desktop {
    flex-direction: row;
    padding-bottom: 2.25rem;
  }
}

.footer__agent {
  color: $color-text-secondary-mercury;
  @include mobile {
    padding-right: 0;
  }
  @include tablet {
    padding-right: 2.25rem;
  }
  @include desktop {
    padding-right: 3rem;
  }
  p {
    margin: 0;
  }
  &--name {
    @include mobile {
      @include font-mobile-footer-copy();
      font-weight: 600;
      padding-bottom: 1rem;
    }
    @include tablet {
      @include font-desktop-labels-buttons();
      padding-bottom: 2.25rem;
    }
  }
  &--address {
    @include mobile {
      @include font-mobile-footer-copy();
      padding-bottom: 1rem;
      display: block;
    }
    @include tablet {
      @include font-desktop-footer-copy();
      padding-bottom: 2.25rem;
    }
  }

  a,
  a:visited {
    text-decoration: none;
    color: inherit;
  }

  &--email {
    @include mobile {
      @include font-mobile-footer-copy();
      padding-bottom: 2rem;
      display: block;
    }
    @include tablet {
      @include font-desktop-footer-copy();
      padding-bottom: 0;
      display: block;
    }

    @include desktop {
      @include font-desktop-footer-copy();
      padding-bottom: 2.25rem;
      display: block;
    }
  }
}

.conversation {
  h2 {
    margin: 0;
    @include mobile {
      @include font-mobile-section-header();
      padding: 1.5rem 1rem 1rem 1rem;
    }
    @include tablet {
      @include font-desktop-section-header();
      padding: 3rem 2.25rem;
    }
    @include desktop {
      @include font-desktop-section-header();
      padding: 3rem 2.25rem 2.25rem 7rem;
    }
  }
  &__logo {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: url(../assets/Images/Mohan-muruge.jpg);
    background-size: cover;
  }
}
