@use "./partials/colors" as *;
@use "./partials/mixins" as *;
@use "./partials/breakpoints" as *;
@use "./partials/font" as *;

* {
  box-sizing: border-box;
  font-family: "Avenir Next";
  padding: 0;
  margin: 0;
}

.hero {
  background: url(../assets/Images/hero-bio.jpg) top;
  background-size: cover;
  @include mobile {
    height: 16rem;
  }

  @include tablet {
    height: 30rem;
  }

  @include desktop {
    height: 42rem;
  }

  position: relative;
  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-text-primary-black;
    opacity: 0.5;
    z-index: 1;
  }
  h1 {
    opacity: 100%;
    z-index: 2;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    @include mobile {
      @include font-mobile-page-header();
      padding: 0 1rem;
      color: #ffffff;
    }
    @include tablet {
      @include font-desktop-page-header();
      padding: 0 5%;
      color: #ffffff;
    }
    @include desktop {
      @include font-desktop-page-header();
      padding: 0 9%;
      color: #ffffff;
    }
  }
}

.bio {
  h2 {
    margin: 0;
    @include mobile {
      @include font-mobile-section-header();
      padding-bottom: 1rem;
      padding: 1.5rem 1rem 1rem 1rem;
    }
    @include tablet {
      @include font-desktop-section-header();
      padding-bottom: 2.25rem;
      padding: 3rem 5%;
    }

    @include desktop {
      @include font-desktop-section-header();
      padding-bottom: 2.25rem;
      padding: 3rem 9%;
    }
  }

  &__img {
    margin: auto;
    display: block;
    @include mobile {
      padding-bottom: 1rem;
      width: 90%;
    }
    @include tablet {
      padding-bottom: 2.25rem;
      width: 80%;
    }
    @include desktop {
      padding-bottom: 2.25rem;
      width: 70%;
    }
  }

  h3 {
    @include mobile {
      width: 90%;
      margin: 0 auto;
      @include font-mobile-sub-header();
      padding-bottom: 1rem;
    }
    @include tablet {
      width: 70%;
      margin: 0 auto;
      @include font-desktop-sub-header();
      padding-bottom: 1rem;
    }
  }

  h4 {
    @include mobile {
      @include font-mobile-sub-header();
      width: 90%;
      padding-bottom: 1.5rem;
      margin: 0 auto;
    }

    @include tablet {
      @include font-desktop-labels-buttons();
      width: 70%;
      padding-bottom: 3rem;
      margin: 0 auto;
    }
  }
}

.bio__desc {
  display: flex;
  margin: auto;
  @include mobile {
    width: 90%;
    padding-bottom: 1.5rem;
    justify-content: center;
    flex-direction: column;
    @include font-mobile-body-copy();
    &--paragraph1 {
      padding: 0 0 1.5rem 0;
    }
  }

  @include tablet {
    width: 70%;
    padding-bottom: 3rem;
    flex-direction: row;
    justify-content: center;
    @include font-desktop-body-copy();
    &--paragraph1 {
      padding: 0 3rem 0 0;
    }
  }
}

.gallery {
  background-color: $color-text-secondary-alabaster;
  h2 {
    margin: 0;
    @include mobile {
      @include font-mobile-section-header();
      padding: 1.5rem 1rem 1rem 1rem;
    }
    @include tablet {
      @include font-desktop-section-header();
      padding: 3rem 5%;
    }
    @include desktop {
      @include font-desktop-section-header();
      padding: 3rem 9%;
    }
  }
  &__container {
    display: flex;
    @include mobile {
      flex-direction: column;
      align-items: center;
      &--img {
        padding-bottom: 1.5rem;
        width: 90%;
      }
    }

    @include tablet {
      flex-direction: row;
      padding: 0 1.5rem 1rem 3rem;
      margin: auto;
      flex-wrap: wrap;
      &--img {
        padding: 0 1.5rem 1.5rem 0;
        width: 33.3%;
        box-sizing: border-box;
      }
    }

    @include desktop {
      flex-direction: row;
      padding: 0 5rem 1rem 7rem;
      margin: auto;
      flex-wrap: wrap;
      &--img {
        padding: 0 1.5rem 1.5rem 0;
        width: 33.3%;
        box-sizing: border-box;
      }
    }
  }
}

.conversation {
  @include mobile {
    @include font-mobile-body-copy();
  }

  @include tablet {
    @include font-desktop-body-copy();
  }

  h2 {
    margin: 0;
    @include mobile {
      @include font-mobile-section-header();
      padding: 1.5rem 1rem 0 1rem;
    }
    @include tablet {
      @include font-desktop-section-header();
      padding: 3rem 5%;
    }
    @include desktop {
      @include font-desktop-section-header();
      padding: 3rem 9%;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #afafaf;
    margin: auto;

    @include mobile {
      width: 90%;
    }

    @include tablet {
      width: 80%;
    }

    @include desktop {
      width: 40%;
    }

    .button {
      text-transform: uppercase;
      height: 40px;
      border-radius: 4px;
      color: $color-text-primary-white;
      background-color: $color-text-primary-black;
      align-self: flex-end;
      @include mobile {
        @include font-mobile-labels-buttons();
        margin: 1rem 0;
        padding: 0 1rem;
        width: 100%;
      }
      @include tablet {
        @include font-desktop-labels-buttons();
        margin: 2.25rem 0;
        padding: 0 2rem;
        width: 9.375rem;
      }
      &:hover {
        background-color: $color-text-secondary-dark-black;
      }
    }
  }

  &__input-logo-container {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: space-between;
  }

  &__logo {
    @include mobile {
      width: 2.25rem;
      height: 2.25rem;
    }
    @include tablet {
      width: 3rem;
      height: 3rem;
    }
    border-radius: 50%;
    background: url(../assets/Images/Mohan-muruge.jpg);
    background-size: cover;
    margin: 0 1rem;
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    flex-basis: 85%;
    @include font-desktop-body-copy();
    label {
      color: #afafaf;
      text-transform: uppercase;
      margin: 1rem 0 4px 0;

      @include mobile {
        @include font-mobile-labels-buttons();
      }
      @include tablet {
        @include font-desktop-labels-buttons();
      }
    }
    input,
    textarea {
      &:focus {
        border: $color-text-primary-black 1px solid;
        outline: $color-text-primary-black;
      }
      border: $color-text-secondary-mercury 1px solid;
      border-radius: 4px;
      padding: 1rem;
      background-color: $color-text-secondary-alabaster;
      &::placeholder {
        color: $color-text-primary-black;
      }

      input {
        max-height: 3rem;
      }
    }
    
    input.error-state, textarea.error-state {
      border: red 1px solid;
      outline: red;
    }
  }
  ul li {
    list-style-type: none;
  }
}

.conversation__logo--hidden {
  visibility: hidden;
}

.comments {
  color: $color-text-primary-black;
  @include mobile {
    @include font-mobile-body-copy();
  }

  @include tablet {
    @include font-desktop-body-copy();
  }
  &__container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $color-text-secondary-mercury;
    &:last-child {
      border-bottom: 1px solid $color-text-secondary-mercury;
      @include mobile {
        margin-bottom: 1rem;
      }
      @include tablet {
        margin-bottom: 3rem;
      }
    }
    @include mobile {
      padding: 1rem 0;
    }
    @include tablet {
      padding: 2.25rem 0;
    }
  }

  &__name-date-container {
    display: flex;
    justify-content: space-between;
    h4 {
      margin-bottom: 4px;
    }
  }

  &__date {
    font-weight: 400;
    color: $color-text-primary-silver;
  }

  &__input-container {
    flex-basis: 85%;
    display: flex;
    flex-direction: column;
  }

  &__logo {
    @include mobile {
      width: 2.25rem;
      height: 2.25rem;
    }
    @include tablet {
      width: 3rem;
      height: 3rem;
    }
    border-radius: 50%;
    background-color: $color-text-secondary-mercury;
    margin: 0 1rem;
  }

  &__like {
    font-size: 0.7rem;
    margin-left: 1rem;
    font-weight: 400;
  }

  &__like-logo, &__delete-logo {
    border-radius: 3px;
    width: 2rem;
    height: 2rem;
    padding: 0.1rem;
    &:hover {
      cursor: pointer;
    }
  }

  &__like-button {
    margin-right: 1rem;
  }

  &__icon-container {
    align-self: flex-end;
    margin-top: 0.5rem;
  }

  &__like-icon, &__delete-icon {
    // padding-top: 0.5rem;
    &:hover {
      cursor: pointer;
    }
    height: 1rem;
  }
  
  &__like-icon {
    margin-right: 1rem;
  }
}

