@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("otf"), url("../assets/Font/alternative-files/AvenirNextLTPro.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("otf"), url("../assets/Font/alternative-files/AvenirNextLTProDemi.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("otf"), url("../assets/Font/alternative-files/AvenirNextLTProBold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: "Avenir Next";
  padding: 0;
  margin: 0;
}

.main-nav {
  background-color: #323232;
  display: flex;
}
@media (min-width: 320px) {
  .main-nav {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #323232;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 0 0;
  }
}
@media (min-width: 768px) {
  .main-nav {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2rem;
  }
}
@media (min-width: 1280px) {
  .main-nav {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 6rem;
  }
}
.main-nav img {
  max-height: 1.25rem;
  padding: 0 1rem;
}
.main-nav__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-basis: 1;
}
@media (min-width: 320px) {
  .main-nav__list {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .main-nav__list {
    width: auto;
  }
}
.main-nav__item:hover {
  border-bottom: 3px solid #fff;
  font-weight: bold;
}
.main-nav__item a {
  color: #E1E1E1;
  text-decoration: none;
}
.main-nav__item a:hover {
  color: #FFFFFF;
}
@media (min-width: 320px) {
  .main-nav__item {
    text-align: center;
    width: 50%;
    padding: 1rem 0;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .main-nav__item {
    text-align: start;
    width: auto;
    padding: 2rem 0;
    margin: 0 1rem;
  }
}

.hero {
  background: url(../assets/Images/hero-bio.jpg) top;
  background-size: cover;
  position: relative;
}
@media (min-width: 320px) {
  .hero {
    height: 16rem;
  }
}
@media (min-width: 768px) {
  .hero {
    height: 32rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 34rem;
  }
}
.hero__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #323232;
  opacity: 0.5;
  z-index: 1;
}
.hero h1 {
  opacity: 100%;
  z-index: 2;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
}
@media (min-width: 320px) {
  .hero h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    text-align: center;
    color: #323232;
    padding: 0 1rem;
    color: #ffffff;
  }
}
@media (min-width: 768px) {
  .hero h1 {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
    text-align: center;
    color: #323232;
    padding: 0 3rem;
    color: #ffffff;
  }
}
@media (min-width: 1280px) {
  .hero h1 {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
    text-align: center;
    color: #323232;
    padding: 0 5rem;
    color: #ffffff;
  }
}

.bio h2 {
  margin: 0;
}
@media (min-width: 320px) {
  .bio h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #323232;
    padding-bottom: 1rem;
    padding: 1.5rem 1rem 1rem 1rem;
  }
}
@media (min-width: 768px) {
  .bio h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #323232;
    padding-bottom: 2.25rem;
    padding: 3rem 2.25rem 2.25rem 4rem;
  }
}
@media (min-width: 1280px) {
  .bio h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #323232;
    padding-bottom: 2.25rem;
    padding: 3rem 2.25rem 2.25rem 8rem;
  }
}
@media (min-width: 320px) {
  .bio__img {
    padding-bottom: 1rem;
    width: 90%;
    margin: auto;
    display: block;
  }
}
@media (min-width: 768px) {
  .bio__img {
    padding-bottom: 2.25rem;
    width: 70%;
    margin: auto;
    display: block;
  }
}
@media (min-width: 320px) {
  .bio h3 {
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #323232;
    padding-bottom: 1rem;
  }
}
@media (min-width: 768px) {
  .bio h3 {
    width: 70%;
    margin: 0 auto;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #323232;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 320px) {
  .bio h4 {
    font-size: 10px;
    line-height: 20px;
    font-weight: 700;
    width: 90%;
    padding-bottom: 1.5rem;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .bio h4 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    width: 70%;
    padding-bottom: 3rem;
    margin: 0 auto;
  }
}

.bio__desc {
  display: flex;
  width: 70%;
  margin: auto;
  padding-bottom: 3rem;
  justify-content: center;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
}
.bio__desc--paragraph1 {
  padding-right: 3rem;
}

.gallery {
  background-color: #FAFAFA;
}
.gallery h2 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  color: #323232;
  padding: 3rem 2.25rem 2.25rem 5rem;
  margin: 0;
}
.gallery__container {
  padding: 0 2.5rem 3rem 5rem;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}
.gallery__container--img {
  padding: 0 1.5rem 1.5rem 0;
  width: 33.3%;
  box-sizing: border-box;
}

.footer {
  color: #E1E1E1;
  background-color: #323232;
  padding: 0 4rem 0 5rem;
}
.footer__title-container {
  display: flex;
  align-items: baseline;
  position: relative;
}
.footer__title-container h2 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  color: #323232;
  color: #FFFFFF;
  padding: 3rem 2.25rem 2.25rem 0;
  margin: 0;
}
.footer__social-icons-container {
  display: flex;
}
.footer__social-icons-container .footer__social--icon {
  padding: 0 1.125rem;
}
.footer__logo {
  position: absolute;
  right: 0;
}
.footer__copy-right {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding-bottom: 2.25rem;
}

.footer__agents-container {
  display: flex;
}

.footer__agent {
  padding-right: 2.25rem;
  color: #E1E1E1;
}
.footer__agent p {
  margin: 0;
}
.footer__agent--name {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  padding-bottom: 2.25rem;
}
.footer__agent--address {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding-bottom: 2.25rem;
}
.footer__agent a,
.footer__agent a:visited {
  text-decoration: none;
  color: inherit;
}
.footer__agent--email {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding-bottom: 2.25rem;
  display: block;
}/*# sourceMappingURL=bio.css.map */