@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("otf"), url("../assets/Font/alternative-files/AvenirNextLTPro.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("otf"), url("../assets/Font/alternative-files/AvenirNextLTProDemi.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("otf"), url("../assets/Font/alternative-files/AvenirNextLTProBold.ttf") format("ttf");
  font-weight: 700;
  font-style: bold;
}
* {
  box-sizing: border-box;
  font-family: "Avenir Next";
  padding: 0;
  margin: 0;
}

.main-nav {
  background-color: #323232;
  display: flex;
}
@media (min-width: 320px) {
  .main-nav {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #323232;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 0 0;
  }
}
@media (min-width: 768px) {
  .main-nav {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #323232;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2rem;
  }
}
@media (min-width: 1280px) {
  .main-nav {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #323232;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 6rem;
  }
}
.main-nav img {
  max-height: 1.25rem;
  padding: 0 1rem;
}
.main-nav__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-basis: 1;
}
@media (min-width: 320px) {
  .main-nav__list {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .main-nav__list {
    width: auto;
  }
}
.main-nav__item:hover {
  border-bottom: 3px solid #fff;
}
.main-nav__item a {
  color: #E1E1E1;
  text-decoration: none;
}
.main-nav__item a:hover {
  color: #FFFFFF;
  font-weight: bold;
}
@media (min-width: 320px) {
  .main-nav__item {
    text-align: center;
    width: 50%;
    padding: 1rem 0;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .main-nav__item {
    text-align: start;
    width: auto;
    padding: 2rem 0;
    margin: 0 1rem;
  }
}

.hero {
  background: url(../assets/Images/hero-bio.jpg) top;
  background-size: cover;
  position: relative;
}
@media (min-width: 320px) {
  .hero {
    height: 16rem;
  }
}
@media (min-width: 768px) {
  .hero {
    height: 30rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 42rem;
  }
}
.hero__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #323232;
  opacity: 0.5;
  z-index: 1;
}
.hero h1 {
  opacity: 100%;
  z-index: 2;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
}
@media (min-width: 320px) {
  .hero h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    text-align: center;
    color: #323232;
    padding: 0 1rem;
    color: #ffffff;
  }
}
@media (min-width: 768px) {
  .hero h1 {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
    text-align: center;
    color: #323232;
    padding: 0 3rem;
    color: #ffffff;
  }
}
@media (min-width: 1280px) {
  .hero h1 {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
    text-align: center;
    color: #323232;
    padding: 0 7rem;
    color: #ffffff;
  }
}

.bio h2 {
  margin: 0;
}
@media (min-width: 320px) {
  .bio h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #323232;
    padding-bottom: 1rem;
    padding: 1.5rem 1rem 1rem 1rem;
  }
}
@media (min-width: 768px) {
  .bio h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #323232;
    padding-bottom: 2.25rem;
    padding: 3rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .bio h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #323232;
    padding-bottom: 2.25rem;
    padding: 3rem 2.25rem 2.25rem 7rem;
  }
}
.bio__img {
  margin: auto;
  display: block;
}
@media (min-width: 320px) {
  .bio__img {
    padding-bottom: 1rem;
    width: 90%;
  }
}
@media (min-width: 768px) {
  .bio__img {
    padding-bottom: 2.25rem;
    width: 80%;
  }
}
@media (min-width: 1280px) {
  .bio__img {
    padding-bottom: 2.25rem;
    width: 70%;
  }
}
@media (min-width: 320px) {
  .bio h3 {
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #323232;
    padding-bottom: 1rem;
  }
}
@media (min-width: 768px) {
  .bio h3 {
    width: 70%;
    margin: 0 auto;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #323232;
    padding-bottom: 1rem;
  }
}
@media (min-width: 320px) {
  .bio h4 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #323232;
    width: 90%;
    padding-bottom: 1.5rem;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .bio h4 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    width: 70%;
    padding-bottom: 3rem;
    margin: 0 auto;
  }
}

.bio__desc {
  display: flex;
  margin: auto;
}
@media (min-width: 320px) {
  .bio__desc {
    width: 90%;
    padding-bottom: 1.5rem;
    justify-content: center;
    flex-direction: column;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #323232;
  }
  .bio__desc--paragraph1 {
    padding: 0 0 1.5rem 0;
  }
}
@media (min-width: 768px) {
  .bio__desc {
    width: 70%;
    padding-bottom: 3rem;
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #323232;
  }
  .bio__desc--paragraph1 {
    padding: 0 3rem 0 0;
  }
}

.gallery {
  background-color: #FAFAFA;
}
.gallery h2 {
  margin: 0;
}
@media (min-width: 320px) {
  .gallery h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #323232;
    padding: 1.5rem 1rem 1rem 1rem;
  }
}
@media (min-width: 768px) {
  .gallery h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #323232;
    padding: 3rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .gallery h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #323232;
    padding: 3rem 2.25rem 2.25rem 7rem;
  }
}
.gallery__container {
  display: flex;
}
@media (min-width: 320px) {
  .gallery__container {
    flex-direction: column;
    align-items: center;
  }
  .gallery__container--img {
    padding-bottom: 1.5rem;
    width: 90%;
  }
}
@media (min-width: 768px) {
  .gallery__container {
    flex-direction: row;
    padding: 0 1.5rem 1rem 3rem;
    margin: auto;
    flex-wrap: wrap;
  }
  .gallery__container--img {
    padding: 0 1.5rem 1.5rem 0;
    width: 33.3%;
    box-sizing: border-box;
  }
}
@media (min-width: 1280px) {
  .gallery__container {
    flex-direction: row;
    padding: 0 5rem 1rem 7rem;
    margin: auto;
    flex-wrap: wrap;
  }
  .gallery__container--img {
    padding: 0 1.5rem 1.5rem 0;
    width: 33.3%;
    box-sizing: border-box;
  }
}

.footer {
  color: #E1E1E1;
  background-color: #323232;
  position: relative;
}
@media (min-width: 320px) {
  .footer {
    padding: 0 1rem;
  }
}
@media (min-width: 768px) {
  .footer {
    padding: 0 0 0 3rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 0 7rem;
  }
}
.footer__title-container {
  display: flex;
}
@media (min-width: 320px) {
  .footer__title-container {
    flex-direction: column;
  }
  .footer__title-container h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #323232;
    color: #FFFFFF;
    padding: 1.5rem 1rem 0 0;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .footer__title-container {
    flex-direction: row;
    align-items: baseline;
  }
  .footer__title-container h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #323232;
    color: #FFFFFF;
    padding: 3rem 1.125rem 2.25rem 0;
  }
}
@media (min-width: 1280px) {
  .footer__title-container {
    flex-direction: row;
    align-items: baseline;
  }
  .footer__title-container h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #323232;
    color: #FFFFFF;
    padding: 3rem 2.25rem 2.25rem 0;
  }
}
.footer__social-icons-container {
  display: flex;
}
@media (min-width: 320px) {
  .footer__social-icons-container .footer__social--icon {
    padding: 1rem 1.5rem 1rem 0;
  }
}
@media (min-width: 768px) {
  .footer__social-icons-container .footer__social--icon {
    padding: 0 2.25rem 0 0;
  }
}
.footer__social-icons-container img {
  width: 1.5rem;
  height: 1.5rem;
}
.footer__logo {
  position: absolute;
}
@media (min-width: 320px) {
  .footer__logo {
    bottom: 5rem;
    left: 1rem;
  }
}
@media (min-width: 768px) {
  .footer__logo {
    top: 4rem;
    left: 38rem;
  }
}
@media (min-width: 1280px) {
  .footer__logo {
    top: 4rem;
    left: 65rem;
  }
}
@media (min-width: 320px) {
  .footer__copy-right {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    padding: 2rem 0 1rem;
  }
}
@media (min-width: 768px) {
  .footer__copy-right {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 0 0 2.25rem 0;
  }
}

.footer__agents-container {
  display: flex;
}
@media (min-width: 320px) {
  .footer__agents-container {
    flex-direction: column;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 768px) {
  .footer__agents-container {
    flex-direction: row;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__agents-container {
    flex-direction: row;
    padding-bottom: 2.25rem;
  }
}

.footer__agent {
  color: #E1E1E1;
}
@media (min-width: 320px) {
  .footer__agent {
    padding-right: 0;
  }
}
@media (min-width: 768px) {
  .footer__agent {
    padding-right: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__agent {
    padding-right: 3rem;
  }
}
.footer__agent p {
  margin: 0;
}
@media (min-width: 320px) {
  .footer__agent--name {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    font-weight: 600;
    padding-bottom: 1rem;
  }
}
@media (min-width: 768px) {
  .footer__agent--name {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 320px) {
  .footer__agent--address {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    padding-bottom: 1rem;
    display: block;
  }
}
@media (min-width: 768px) {
  .footer__agent--address {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding-bottom: 2.25rem;
  }
}
.footer__agent a,
.footer__agent a:visited {
  text-decoration: none;
  color: inherit;
}
@media (min-width: 320px) {
  .footer__agent--email {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    padding-bottom: 2rem;
    display: block;
  }
}
@media (min-width: 768px) {
  .footer__agent--email {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding-bottom: 0;
    display: block;
  }
}
@media (min-width: 1280px) {
  .footer__agent--email {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding-bottom: 2.25rem;
    display: block;
  }
}

.conversation h2 {
  margin: 0;
}
@media (min-width: 320px) {
  .conversation h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #323232;
    padding: 1.5rem 1rem 1rem 1rem;
  }
}
@media (min-width: 768px) {
  .conversation h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #323232;
    padding: 3rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .conversation h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #323232;
    padding: 3rem 2.25rem 1.25rem 7rem;
  }
}
.conversation__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #afafaf;
  width: 70%;
}
.conversation__container .button {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  margin: 2.25rem 0;
  height: 40px;
  min-width: 9.375rem;
  padding: 0 2rem;
  border-radius: 4px;
  background-color: #323232;
  color: #FFFFFF;
}
.conversation__input-logo-container {
  display: flex;
  align-items: flex-end;
}
.conversation__logo {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: url(../assets/Images/Mohan-muruge.jpg);
  background-size: cover;
  margin: 0 1rem;
}
.conversation__input-container {
  display: flex;
  flex-direction: column;
  width: 30rem;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
}
.conversation__input-container label {
  color: #afafaf;
  text-transform: uppercase;
  margin: 1rem 0 4px 0;
}
.conversation__input-container input,
.conversation__input-container textarea {
  border: #E1E1E1 1px solid;
  border-radius: 4px;
  padding: 1rem;
  background-color: #FAFAFA;
}
.conversation__input-container input::-moz-placeholder, .conversation__input-container textarea::-moz-placeholder {
  color: #323232;
}
.conversation__input-container input::placeholder,
.conversation__input-container textarea::placeholder {
  color: #323232;
}
.conversation__input-container input input,
.conversation__input-container textarea input {
  max-height: 3rem;
}
.conversation ul li {
  list-style-type: none;
}
.conversation__divider {
  width: 60%;
  border: 1px solid #E1E1E1;
}

.comments {
  color: #323232;
  width: 60%;
}
.comments__container {
  display: flex;
  justify-content: flex-end;
  margin: 2.25rem 0;
}
.comments__name-date-container {
  display: flex;
  justify-content: space-between;
}
.comments__name-date-container h4 {
  margin-bottom: 4px;
}
.comments__date {
  font-weight: 400;
  color: #AFAFAF;
}
.comments__input-container {
  width: 30rem;
}
.comments__logo {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #E1E1E1;
  margin: 0 1rem;
}/*# sourceMappingURL=bio.css.map */