@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("otf"), url("../assets/Font/alternative-files/AvenirNextLTPro.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("otf"), url("../assets/Font/alternative-files/AvenirNextLTProDemi.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("otf"), url("../assets/Font/alternative-files/AvenirNextLTProBold.ttf") format("ttf");
  font-weight: 700;
  font-style: bold;
}
.footer {
  color: #E1E1E1;
  background-color: #323232;
  position: relative;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .footer {
    padding: 0 0 0 3rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 0 7rem;
  }
}
.footer__title-container {
  display: flex;
  flex-direction: column;
}
.footer__title-container h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #323232;
  color: #FFFFFF;
  padding: 1.5rem 1rem 0 0;
  margin: 0;
}
@media (min-width: 768px) {
  .footer__title-container {
    flex-direction: row;
    align-items: baseline;
  }
  .footer__title-container h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #323232;
    color: #FFFFFF;
    padding: 3rem 1.125rem 2.25rem 0;
  }
}
@media (min-width: 1280px) {
  .footer__title-container {
    flex-direction: row;
    align-items: baseline;
  }
  .footer__title-container h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #323232;
    color: #FFFFFF;
    padding: 3rem 2.25rem 2.25rem 0;
  }
}
.footer__social-icons-container {
  display: flex;
}
.footer__social-icons-container .footer__social--icon {
  padding: 1rem 1.5rem 1rem 0;
}
@media (min-width: 768px) {
  .footer__social-icons-container .footer__social--icon {
    padding: 0 2.25rem 0 0;
  }
}
.footer__social-icons-container img {
  width: 1.5rem;
  height: 1.5rem;
}
.footer__logo {
  position: absolute;
  bottom: 5rem;
  left: 1rem;
}
@media (min-width: 768px) {
  .footer__logo {
    top: 4rem;
    left: 38rem;
  }
}
@media (min-width: 1280px) {
  .footer__logo {
    top: 4rem;
    left: 65rem;
  }
}
.footer__copy-right {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding: 2rem 0 1rem;
}
@media (min-width: 768px) {
  .footer__copy-right {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 0 0 2.25rem 0;
  }
}

.footer__agents-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 2.25rem;
}
@media (min-width: 768px) {
  .footer__agents-container {
    flex-direction: row;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__agents-container {
    flex-direction: row;
    padding-bottom: 2.25rem;
  }
}

.footer__agent {
  color: #E1E1E1;
  padding-right: 0;
}
@media (min-width: 768px) {
  .footer__agent {
    padding-right: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__agent {
    padding-right: 3rem;
  }
}
.footer__agent p {
  margin: 0;
}
.footer__agent--name {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-weight: 600;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__agent--name {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    padding-bottom: 2.25rem;
  }
}
.footer__agent--address {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding-bottom: 1rem;
  display: block;
}
@media (min-width: 768px) {
  .footer__agent--address {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding-bottom: 2.25rem;
  }
}
.footer__agent a,
.footer__agent a:visited {
  text-decoration: none;
  color: inherit;
}
.footer__agent--email {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding-bottom: 2rem;
  display: block;
}
@media (min-width: 768px) {
  .footer__agent--email {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding-bottom: 0;
    display: block;
  }
}
@media (min-width: 1280px) {
  .footer__agent--email {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding-bottom: 2.25rem;
    display: block;
  }
}/*# sourceMappingURL=footer.css.map */