@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("otf"), url("../assets/Font/alternative-files/AvenirNextLTPro.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("otf"), url("../assets/Font/alternative-files/AvenirNextLTProDemi.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("otf"), url("../assets/Font/alternative-files/AvenirNextLTProBold.ttf") format("ttf");
  font-weight: 700;
  font-style: bold;
}
* {
  box-sizing: border-box;
  font-family: "Avenir Next";
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.hero {
  color: #ffffff;
  background: url(../assets/Images/hero-shows.jpg) top;
  background-size: cover;
  height: 16rem;
  position: relative;
}
@media (min-width: 768px) {
  .hero {
    height: 30rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 42rem;
  }
}
.hero__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #323232;
  opacity: 0.5;
  z-index: 1;
}
.hero span {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #323232;
  color: #ffffff;
}
.hero h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  color: #323232;
  padding: 0 1rem;
  color: #ffffff;
  text-align: left;
  width: 90%;
}
.hero h1 span {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #323232;
  color: #ffffff;
}
@media (min-width: 768px) {
  .hero h1 {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
    text-align: center;
    color: #323232;
    text-align: left;
    padding: 0 5% 1rem;
    color: #ffffff;
  }
  .hero h1 span {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #323232;
    color: #ffffff;
  }
}
@media (min-width: 1280px) {
  .hero h1 {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
    text-align: center;
    color: #323232;
    text-align: left;
    padding: 0;
    color: #ffffff;
    width: 75%;
  }
  .hero h1 span {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #323232;
    color: #ffffff;
  }
}
.hero h2 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #323232;
  padding: 0 1rem;
  color: #ffffff;
}
@media (min-width: 768px) {
  .hero h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #323232;
    color: #ffffff;
    padding: 1rem 5% 0;
  }
}
@media (min-width: 1280px) {
  .hero h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #323232;
    color: #ffffff;
    padding: 0 10%;
  }
}
.hero__slogan {
  width: 100%;
  opacity: 100%;
  z-index: 2;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
}
.hero__slogan-container {
  width: 100%;
  display: flex;
  padding-right: 0;
  flex-direction: column;
  text-align: center;
}
.hero__slogan-container iframe {
  width: 90%;
  height: 6rem;
  align-self: center;
}
@media (min-width: 768px) {
  .hero__slogan-container {
    padding-right: 0;
    flex-direction: column;
    align-self: start;
  }
  .hero__slogan-container iframe {
    width: 25rem;
    height: 6rem;
    align-self: start;
    margin-left: 5%;
  }
}
@media (min-width: 1280px) {
  .hero__slogan-container {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 10%;
  }
  .hero__slogan-container iframe {
    width: 25rem;
    height: 80%;
    align-self: start;
    margin-left: 0;
  }
}
.hero__slogan-text {
  padding: 1rem 0;
}

.shows {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #323232;
  justify-content: flex-start;
}
@media (min-width: 768px) {
  .shows {
    flex-direction: column;
    padding: 2.25rem 5%;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #323232;
    justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .shows {
    flex-direction: row;
    padding: 2.25rem 10%;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #323232;
    justify-content: space-between;
  }
}
.shows h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #323232;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .shows h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #323232;
    padding: 0;
  }
}
.shows table {
  width: 100%;
}
@media (min-width: 1280px) {
  .shows table {
    width: 80%;
  }
}
.shows tbody {
  display: flex;
  flex-direction: column;
}
.shows tr {
  display: flex;
  align-content: flex-start;
  border-bottom: solid 1px #E1E1E1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}
.shows tr:hover {
  background-color: #FAFAFA;
  cursor: pointer;
}
.shows tr:active {
  background-color: #E1E1E1;
}
.shows tr.table-row--selected {
  background-color: #E1E1E1;
}
.shows tr td.shows__table-title-venue,
.shows tr td.shows__table-title-location,
.shows tr td.shows__table-date,
.shows tr td.shows__table-content,
.shows tr th.shows__table-title-venue,
.shows tr th.shows__table-title-location {
  width: 100%;
}
@media (min-width: 768px) {
  .shows tr {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 1.5rem 1.125rem;
  }
  .shows tr td.shows__table-title-venue,
  .shows tr td.shows__table-title-location {
    width: 20%;
  }
  .shows tr td.shows__table-date {
    width: 30%;
  }
  .shows tr td.shows__table-content {
    width: 20%;
  }
  .shows tr th.shows__table-title-venue,
  .shows tr th.shows__table-title-location {
    width: 20%;
  }
  .shows tr th.shows__table-title-date {
    width: 30%;
  }
}
.shows tr th {
  text-align: left;
  text-transform: uppercase;
  color: #AFAFAF;
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  width: 100%;
  padding: 1rem 1rem 0;
  font-weight: 400;
}
@media (min-width: 768px) {
  .shows tr th {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    width: 30%;
    padding: 0;
  }
}
.shows tr td {
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .shows tr td {
    padding: 0;
  }
}
.shows .shows__table-title {
  display: none;
}
@media (min-width: 768px) {
  .shows .shows__table-title {
    display: flex;
  }
  .shows .shows__table-title:hover {
    background-color: #ffffff;
    cursor: initial;
  }
}
.shows button {
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #323232;
  color: #E1E1E1;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  height: 40px;
  margin: 1rem 0;
  width: 100%;
}
.shows button:hover {
  background-color: #000000;
  color: #FFFFFF;
  cursor: pointer;
}
@media (min-width: 768px) {
  .shows button {
    margin: 0;
    width: 9.375rem;
  }
}
.shows__table {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
}
@media (min-width: 768px) {
  .shows__table {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #323232;
  }
}
tr .shows__table-date {
  font-weight: 600;
}
.shows-row-container {
  padding: 0 1rem;
}
.shows .switch-style {
  display: initial;
}
@media (min-width: 768px) {
  .shows .switch-style {
    display: none;
  }
}/*# sourceMappingURL=shows.css.map */