@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("otf"), url("../assets/Font/alternative-files/AvenirNextLTPro.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("otf"), url("../assets/Font/alternative-files/AvenirNextLTProDemi.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("otf"), url("../assets/Font/alternative-files/AvenirNextLTProBold.ttf") format("ttf");
  font-weight: 700;
  font-style: bold;
}
* {
  box-sizing: border-box;
  font-family: "Avenir Next";
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-nav {
  background-color: #323232;
  display: flex;
}
@media (min-width: 320px) {
  .main-nav {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #323232;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 0 0;
  }
}
@media (min-width: 768px) {
  .main-nav {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #323232;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2rem;
  }
}
@media (min-width: 1280px) {
  .main-nav {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #323232;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 6rem;
  }
}
.main-nav img {
  max-height: 1.25rem;
  padding: 0 1rem;
}
.main-nav__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-basis: 1;
}
@media (min-width: 320px) {
  .main-nav__list {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .main-nav__list {
    width: auto;
  }
}
.main-nav__item:hover, .main-nav__item-active {
  border-bottom: 3px solid #fff;
}
.main-nav__item a {
  color: #E1E1E1;
  text-decoration: none;
}
.main-nav__item a:hover, .main-nav__item a.active {
  color: #FFFFFF;
  font-weight: bold;
}
@media (min-width: 320px) {
  .main-nav__item {
    text-align: center;
    width: 50%;
    padding: 1rem 0;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .main-nav__item {
    text-align: start;
    width: auto;
    padding: 2rem 0;
    margin: 0 1rem;
  }
}

.hero {
  color: #ffffff;
  background: url(../assets/Images/hero-shows.jpg) top;
  background-size: cover;
  position: relative;
}
@media (min-width: 320px) {
  .hero {
    height: 16rem;
  }
}
@media (min-width: 768px) {
  .hero {
    height: 30rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 42rem;
  }
}
.hero__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #323232;
  opacity: 0.5;
  z-index: 1;
}
.hero span {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #323232;
  color: #ffffff;
}
@media (min-width: 320px) {
  .hero h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    text-align: center;
    color: #323232;
    padding: 0 1rem;
    color: #ffffff;
    text-align: left;
    width: 90%;
  }
  .hero h1 span {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #323232;
    color: #ffffff;
  }
}
@media (min-width: 768px) {
  .hero h1 {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
    text-align: center;
    color: #323232;
    text-align: left;
    padding: 0 3rem;
    color: #ffffff;
  }
  .hero h1 span {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #323232;
    color: #ffffff;
  }
}
@media (min-width: 1280px) {
  .hero h1 {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
    text-align: center;
    color: #323232;
    text-align: left;
    padding: 0 0 0 7rem;
    color: #ffffff;
    width: 75%;
  }
  .hero h1 span {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #323232;
    color: #ffffff;
  }
}
@media (min-width: 320px) {
  .hero h2 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #323232;
    padding: 0 1rem;
    color: #ffffff;
  }
}
@media (min-width: 1280px) {
  .hero h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #323232;
    color: #ffffff;
    padding: 1rem 7rem;
  }
}
.hero__slogan {
  width: 100%;
  opacity: 100%;
  z-index: 2;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
}
.hero__slogan-container {
  width: 100%;
  display: flex;
}
@media (min-width: 320px) {
  .hero__slogan-container {
    padding-right: 0;
    flex-direction: column;
    text-align: center;
  }
  .hero__slogan-container iframe {
    width: 90%;
    height: 6rem;
    align-self: center;
  }
}
@media (min-width: 1280px) {
  .hero__slogan-container {
    padding-right: 10%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  .hero__slogan-container iframe {
    width: 25rem;
    height: 80%;
  }
}
.hero__slogan-text {
  padding: 1rem 0;
}

.shows {
  display: flex;
}
@media (min-width: 320px) {
  .shows {
    flex-direction: column;
    padding: 1rem 0;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #323232;
  }
}
@media (min-width: 768px) {
  .shows {
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 6rem;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #323232;
  }
}
@media (min-width: 320px) {
  .shows h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #323232;
    padding: 0 1rem;
  }
}
@media (min-width: 768px) {
  .shows h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #323232;
    padding: 0;
  }
}
@media (min-width: 320px) {
  .shows table {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .shows table {
    width: 80%;
  }
}
.shows tbody {
  display: flex;
  flex-direction: column;
}
.shows tr {
  display: flex;
  align-content: flex-start;
  border-bottom: solid 1px #E1E1E1;
}
.shows tr:hover {
  background-color: #FAFAFA;
  cursor: pointer;
}
.shows tr:active {
  background-color: #E1E1E1;
}
@media (min-width: 320px) {
  .shows tr {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
  }
  .shows tr td.shows__table-title-venue,
  .shows tr td.shows__table-title-location,
  .shows tr td.shows__table-date,
  .shows tr td.shows__table-content,
  .shows tr th.shows__table-title-venue,
  .shows tr th.shows__table-title-location {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .shows tr {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 1.5rem 1.125rem;
  }
  .shows tr td.shows__table-title-venue,
  .shows tr td.shows__table-title-location {
    width: 20%;
  }
  .shows tr td.shows__table-date {
    width: 30%;
  }
  .shows tr td.shows__table-content {
    width: 20%;
  }
  .shows tr th.shows__table-title-venue,
  .shows tr th.shows__table-title-location {
    width: 20%;
  }
}
.shows tr th {
  text-align: left;
  text-transform: uppercase;
  color: #AFAFAF;
  font-weight: 400;
}
@media (min-width: 320px) {
  .shows tr th {
    font-size: 10px;
    line-height: 20px;
    font-weight: 700;
    width: 100%;
    padding: 1rem 1rem 0;
  }
}
@media (min-width: 1280px) {
  .shows tr th {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    width: 30%;
    padding: 0;
  }
}
@media (min-width: 320px) {
  .shows tr td {
    padding: 0 1rem;
  }
}
@media (min-width: 768px) {
  .shows tr td {
    padding: 0;
  }
}
@media (min-width: 320px) {
  .shows .shows__table-title {
    display: none;
  }
}
@media (min-width: 768px) {
  .shows .shows__table-title {
    display: flex;
  }
  .shows .shows__table-title:hover {
    background-color: #ffffff;
    cursor: initial;
  }
}
.shows button {
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #323232;
  color: #E1E1E1;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  height: 40px;
}
.shows button:hover {
  background-color: #000000;
  color: #FFFFFF;
  cursor: pointer;
}
@media (min-width: 320px) {
  .shows button {
    margin: 1rem 0;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .shows button {
    margin: 0;
    width: 9.375rem;
  }
}
@media (min-width: 1280px) {
  .shows__table {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
tr .shows__table-date {
  font-weight: 600;
}
.shows-row-container {
  padding: 0 1rem;
}
@media (min-width: 320px) {
  .shows .switch-style {
    display: initial;
  }
}
@media (min-width: 768px) {
  .shows .switch-style {
    display: none;
  }
}

.footer {
  color: #E1E1E1;
  background-color: #323232;
  position: relative;
}
@media (min-width: 320px) {
  .footer {
    padding: 0 1rem;
  }
}
@media (min-width: 768px) {
  .footer {
    padding: 0 0 0 3rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 0 7rem;
  }
}
.footer__title-container {
  display: flex;
}
@media (min-width: 320px) {
  .footer__title-container {
    flex-direction: column;
  }
  .footer__title-container h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #323232;
    color: #FFFFFF;
    padding: 1.5rem 1rem 0 0;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .footer__title-container {
    flex-direction: row;
    align-items: baseline;
  }
  .footer__title-container h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #323232;
    color: #FFFFFF;
    padding: 3rem 1.125rem 2.25rem 0;
  }
}
@media (min-width: 1280px) {
  .footer__title-container {
    flex-direction: row;
    align-items: baseline;
  }
  .footer__title-container h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #323232;
    color: #FFFFFF;
    padding: 3rem 2.25rem 2.25rem 0;
  }
}
.footer__social-icons-container {
  display: flex;
}
@media (min-width: 320px) {
  .footer__social-icons-container .footer__social--icon {
    padding: 1rem 1.5rem 1rem 0;
  }
}
@media (min-width: 768px) {
  .footer__social-icons-container .footer__social--icon {
    padding: 0 2.25rem 0 0;
  }
}
.footer__social-icons-container img {
  width: 1.5rem;
  height: 1.5rem;
}
.footer__logo {
  position: absolute;
}
@media (min-width: 320px) {
  .footer__logo {
    bottom: 5rem;
    left: 1rem;
  }
}
@media (min-width: 768px) {
  .footer__logo {
    top: 4rem;
    left: 38rem;
  }
}
@media (min-width: 1280px) {
  .footer__logo {
    top: 4rem;
    left: 65rem;
  }
}
@media (min-width: 320px) {
  .footer__copy-right {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    padding: 2rem 0 1rem;
  }
}
@media (min-width: 768px) {
  .footer__copy-right {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 0 0 2.25rem 0;
  }
}

.footer__agents-container {
  display: flex;
}
@media (min-width: 320px) {
  .footer__agents-container {
    flex-direction: column;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 768px) {
  .footer__agents-container {
    flex-direction: row;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__agents-container {
    flex-direction: row;
    padding-bottom: 2.25rem;
  }
}

.footer__agent {
  color: #E1E1E1;
}
@media (min-width: 320px) {
  .footer__agent {
    padding-right: 0;
  }
}
@media (min-width: 768px) {
  .footer__agent {
    padding-right: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__agent {
    padding-right: 3rem;
  }
}
.footer__agent p {
  margin: 0;
}
@media (min-width: 320px) {
  .footer__agent--name {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    font-weight: 600;
    padding-bottom: 1rem;
  }
}
@media (min-width: 768px) {
  .footer__agent--name {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 320px) {
  .footer__agent--address {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    padding-bottom: 1rem;
    display: block;
  }
}
@media (min-width: 768px) {
  .footer__agent--address {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding-bottom: 2.25rem;
  }
}
.footer__agent a,
.footer__agent a:visited {
  text-decoration: none;
  color: inherit;
}
@media (min-width: 320px) {
  .footer__agent--email {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    padding-bottom: 2rem;
    display: block;
  }
}
@media (min-width: 768px) {
  .footer__agent--email {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding-bottom: 0;
    display: block;
  }
}
@media (min-width: 1280px) {
  .footer__agent--email {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding-bottom: 2.25rem;
    display: block;
  }
}/*# sourceMappingURL=shows.css.map */