@use "./partials/colors" as *;
@use "./partials/mixins" as *;
@use "./partials/breakpoints" as *;

* {
  box-sizing: border-box;
  font-family: "Avenir Next";
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-nav {
  background-color: $color-text-primary-black;
  display: flex;
  @include mobile {
    @include font-mobile-body-copy();
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 0 0;
  }

  @include tablet {
    @include font-desktop-body-copy();
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2rem;
  }

  @include desktop {
    @include font-desktop-body-copy();
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 6rem;
  }

  img {
    max-height: 1.25rem;
    padding: 0 1rem;
  }
  &__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-basis: 1;
    @include mobile {
      width: 100%;
    }
    @include tablet {
      width: auto;
    }
  }

  &__item {
    &:hover,  &-active {
      border-bottom: 3px solid #fff;
    }
    a {
      color: $color-text-secondary-mercury;
      &:hover, .active{
        color: $color-text-primary-white;
        font-weight: bold;
      }
      text-decoration: none;
    }
    @include mobile {
      text-align: center;
      width: 50%;
      padding: 1rem 0;
      margin: 0;
    }

    @include tablet {
      text-align: start;
      width: auto;
      padding: 2rem 0;
      margin: 0 1rem;
    }
  }
}

.hero {
  color: #ffffff;
  background: url(../assets/Images/hero-shows.jpg) top;
  background-size: cover;
  @include mobile {
    height: 16rem;
  }

  @include tablet {
    height: 30rem;
  }

  @include desktop {
    height: 42rem;
  }

  position: relative;
  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-text-primary-black;
    opacity: 0.5;
    z-index: 1;
  }
  h1 {
    @include mobile {
      @include font-mobile-page-header();
      padding: 0 1rem;
      color: #ffffff;
    }
    @include tablet {
      @include font-desktop-page-header();
      padding: 0 3rem;
      color: #ffffff;
    }
    @include desktop {
      @include font-desktop-page-header();
      padding: 0 7rem;
      color: #ffffff;
    }
  }

  h2 {
    @include desktop {
      @include font-desktop-sub-header();
      color: #ffffff;
      padding: 1rem 7rem;
    }
  }

  &__slogan {
    width: 100%;
    opacity: 100%;
    z-index: 2;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    &-container {
      width: 100%;
      padding-right: 10%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        font-size: 3rem;
        color:#FFFFFF;
      }
      iframe {
        width: 25rem;
        height: 80%;
      }
    }
  }

  .hero__slogan-text-line2 {
    margin-left: -1.5rem;
  }
}

.shows {
  display: flex;
  justify-content: space-between;
  padding: 3rem 6rem;
  h2 {
    @include font-desktop-section-header();
  }

  &__table-title {
    text-transform: uppercase;
    @include font-desktop-labels-buttons();
    color: $color-text-primary-silver;
    th {
      text-align: left;
    }
  }
  table {
    width: 80%;
  }
  tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  tr {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1.5rem 1.125rem;
    border-bottom: solid 1px $color-text-secondary-mercury;
    td.shows__table-title-venue, td.shows__table-title-location {
      width: 20%;
    }
    th.shows__table-title-date {
      width: 30%;
    }
    td.shows__table-date {
      width: 30%;
    }
    td.shows__table-content {
      width: 20%;
    }
    th.shows__table-title-venue, th.shows__table-title-location {
      width: 20%;
    }
  }

  button {
    text-transform: uppercase;
    @include font-desktop-labels-buttons();
    height: 40px;
    min-width: 9.375rem;
    border-radius: 4px;
    background-color: $color-text-primary-black;
    color: $color-text-secondary-mercury;
  }

  &__table {
    @include desktop {
      @include font-desktop-footer-copy();
    }
  }

  tr &__table-date {
    font-weight: bold;
  }
}

.footer {
  color: $color-text-secondary-mercury;
  background-color: $color-text-primary-black;
  position: relative;
  @include mobile {
    padding: 0 1rem;
  }
  @include tablet {
    padding: 0 0 0 3rem;
  }

  @include desktop {
    padding: 0 7rem;
  }
  &__title-container {
    display: flex;
    @include mobile {
      flex-direction: column;
      h2 {
        @include font-mobile-section-header();
        color: $color-text-primary-white;
        padding: 1.5rem 1rem 0 0;
        margin: 0;
      }
    }

    @include tablet {
      flex-direction: row;
      align-items: baseline;
      h2 {
        @include font-desktop-section-header();
        color: $color-text-primary-white;
        padding: 3rem 1.125rem 2.25rem 0;
      }
    }
    @include desktop {
      flex-direction: row;
      align-items: baseline;
      h2 {
        @include font-desktop-section-header();
        color: $color-text-primary-white;
        padding: 3rem 2.25rem 2.25rem 0;
      }
    }
  }

  &__social-icons-container {
    display: flex;
    @include mobile {
      .footer__social--icon {
        padding: 1rem 1.5rem 1rem 0;
      }
    }
    @include tablet {
      .footer__social--icon {
        padding: 0 2.25rem 0 0;
      }
    }
    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__logo {
    position: absolute;
    @include mobile {
      bottom: 5rem;
      left: 1rem;
    }

    @include tablet {
      top: 4rem;
      left: 38rem;
    }
    @include desktop {
      top: 4rem;
      left: 65rem;
    }
  }

  &__copy-right {
    @include mobile {
      @include font-mobile-footer-copy();
      padding: 2rem 0 1rem;
    }
    @include tablet {
      @include font-desktop-footer-copy();
      padding: 0 0 2.25rem 0;
    }
  }
}

.footer__agents-container {
  display: flex;
  @include mobile {
    flex-direction: column;
    padding-bottom: 2.25rem;
  }
  @include tablet {
    flex-direction: row;
    padding-bottom: 2.25rem;
  }
  @include desktop {
    flex-direction: row;
    padding-bottom: 2.25rem;
  }
}

.footer__agent {
  color: $color-text-secondary-mercury;
  @include mobile {
    padding-right: 0;
  }
  @include tablet {
    padding-right: 2.25rem;
  }
  @include desktop {
    padding-right: 3rem;
  }
  p {
    margin: 0;
  }
  &--name {
    @include mobile {
      @include font-mobile-footer-copy();
      font-weight: 600;
      padding-bottom: 1rem;
    }
    @include tablet {
      @include font-desktop-labels-buttons();
      padding-bottom: 2.25rem;
    }
  }
  &--address {
    @include mobile {
      @include font-mobile-footer-copy();
      padding-bottom: 1rem;
      display: block;
    }
    @include tablet {
      @include font-desktop-footer-copy();
      padding-bottom: 2.25rem;
    }
  }

  a,
  a:visited {
    text-decoration: none;
    color: inherit;
  }

  &--email {
    @include mobile {
      @include font-mobile-footer-copy();
      padding-bottom: 2rem;
      display: block;
    }
    @include tablet {
      @include font-desktop-footer-copy();
      padding-bottom: 0;
      display: block;
    }

    @include desktop {
      @include font-desktop-footer-copy();
      padding-bottom: 2.25rem;
      display: block;
    }
  }
}

