@use "./partials/colors" as *;
@use "./partials/mixins" as *;
@use "./partials/breakpoints" as *;
@use "./partials/font" as *;

* {
  box-sizing: border-box;
  font-family: "Avenir Next";
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.hero {
  color: #ffffff;
  background: url(../assets/Images/hero-shows.jpg) top;
  background-size: cover;
  @include mobile {
    height: 16rem;
  }

  @include tablet {
    height: 30rem;
  }

  @include desktop {
    height: 42rem;
  }

  position: relative;
  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-text-primary-black;
    opacity: 0.5;
    z-index: 1;
  }

  span {
    @include font-mobile-section-header();
    color: #ffffff;
  }

  h1 {
    @include mobile {
      @include font-mobile-page-header();
      padding: 0 1rem;
      color: #ffffff;
      text-align: left;
      span {
        @include font-mobile-section-header();
        color: #ffffff;
      }
      width: 90%;
    }
    @include tablet {
      @include font-desktop-page-header();
      text-align: left;
      padding: 0 5% 1rem;
      color: #ffffff;
      span {
        @include font-desktop-section-header();
        color: #ffffff;
      }
    }
    @include desktop {
      @include font-desktop-page-header();
      text-align: left;
      padding: 0;
      color: #ffffff;
      width: 75%;
      span {
        @include font-desktop-section-header();
        color: #ffffff;
      }
    }
  }

  h2 {
    @include mobile {
      @include font-mobile-sub-header();
      padding: 0 1rem;
      color: #ffffff;
    }
    @include tablet {
      @include font-desktop-sub-header();
      color: #ffffff;
      padding: 1rem 5% 0;
    }

    @include desktop {
      @include font-desktop-sub-header();
      color: #ffffff;
      padding: 0 10%;
    }
  }

  &__slogan {
    width: 100%;
    opacity: 100%;
    z-index: 2;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    &-container {
      width: 100%;
      display: flex;
      @include mobile {
        padding-right: 0;
        flex-direction: column;
        text-align: center;
        iframe {
          width: 90%;
          height: 6rem;
          align-self: center;
        }
      }

      @include tablet {
        padding-right: 0;
        flex-direction: column;
        align-self: start;
        iframe {
          width: 25rem;
          height: 6rem;
          align-self: start;
          margin-left: 5%;
        }
      }

      @include desktop {
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding: 0 10%;
        iframe {
          width: 25rem;
          height: 80%;
          align-self: start;
          margin-left: 0;
        }
      }
    }

    &-text {
      padding: 1rem 0;
    }
  }
}

.shows {
  display: flex;
  @include mobile {
    flex-direction: column;
    padding: 1rem 0;
    @include font-mobile-body-copy();
    justify-content: flex-start;
  }
  @include tablet {
    flex-direction: column;
    padding: 2.25rem 5%;
    @include font-desktop-body-copy();
    justify-content: flex-start;
  }
  @include desktop {
    flex-direction: row;
    padding: 2.25rem 10%;
    @include font-desktop-body-copy();
    justify-content: space-between;
  }

  h2 {
    @include mobile {
      @include font-mobile-section-header();
      padding: 0 1rem;
    }
    @include tablet {
      @include font-desktop-section-header();
      padding: 0;
    }
  }

  table {
    @include mobile {
      width: 100%;
    }
    @include tablet {
      width: 100%;
    }
    @include desktop {
      width: 80%;
    }
  }

  tbody {
    display: flex;
    flex-direction: column;
  }

  tr {
    display: flex;
    align-content: flex-start;
    border-bottom: solid 1px $color-text-secondary-mercury;
    &:hover {
      background-color: $color-text-secondary-alabaster;
      cursor: pointer;
    }
    &:active {
      background-color: $color-text-secondary-mercury;
    }

    &.table-row--selected {
      background-color: $color-text-secondary-mercury;
    }

    @include mobile {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0;
      td.shows__table-title-venue,
      td.shows__table-title-location,
      td.shows__table-date,
      td.shows__table-content,
      th.shows__table-title-venue,
      th.shows__table-title-location {
        width: 100%;
      }
    }
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      padding: 1.5rem 1.125rem;
      td.shows__table-title-venue,
      td.shows__table-title-location {
        width: 20%;
      }

      td.shows__table-date {
        width: 30%;
      }
      td.shows__table-content {
        width: 20%;
      }
      th.shows__table-title-venue,
      th.shows__table-title-location {
        width: 20%;
      }
      th.shows__table-title-date {
        width: 30%;
      }
    }

    th {
      text-align: left;
      text-transform: uppercase;
      color: $color-text-primary-silver;
      @include mobile {
        @include font-mobile-labels-buttons();
        width: 100%;
        padding: 1rem 1rem 0;
      }
      @include tablet {
        @include font-desktop-labels-buttons();
        width: 30%;
        padding: 0;
      }
      font-weight: 400;
    }
    td {
      @include mobile {
        padding: 0 1rem;
      }
      @include tablet {
        padding: 0;
      }
    }
  }

  .shows__table-title {
    @include mobile {
      display: none;
    }
    @include tablet {
      display: flex;
      &:hover {
        background-color: #ffffff;
        cursor: initial;
      }
    }
  }

  button {
    text-transform: uppercase;
    border-radius: 4px;
    background-color: $color-text-primary-black;
    color: $color-text-secondary-mercury;
    &:hover {
      background-color: $color-text-secondary-dark-black;
      color: $color-text-primary-white;
      cursor: pointer;
    }
    @include font-desktop-labels-buttons();
    height: 40px;

    @include mobile {
      margin: 1rem 0;
      width: 100%;
    }

    @include tablet {
      margin: 0;
      width: 9.375rem;
    }
  }

  &__table {
    @include mobile {
      @include font-desktop-body-copy();
    }
    @include tablet {
      @include font-desktop-body-copy();
    }
  }

  tr &__table-date {
    font-weight: 600;
  }

  &-row-container {
    padding: 0 1rem;
  }

  .switch-style {
    @include mobile {
      display: initial;
    }
    @include tablet {
      display: none;
    }
  }
}

